body {
  font-family: 'Open Sans', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  display: flex;
  padding-left: 100px;
}

.nav-title img {
  margin-top: 30px;
}

.nav-title p {
  font-size: 30px;
  margin-left: 10px;
  font-weight: 900;
}

.nav-primary {
  color: #ff42a5;
}

.nav-links {
  display: flex;
  font-size: 15px;
  margin-top: 50px;
  padding-right: 40px;
}

.nav-link {
  color: #3c354f;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
}

.nav-link-social {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.nav-link-yt {
  width: 25px;
}

.nav-link-tiktok {
  width: 25px;
}

.banner {
  display: flex;
}

.banner-title {
  text-align: center;
  width: 900px;
  padding-top: 70px;

  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 12px;
}

.banner-title-one {
  font-size: 40px;
  font-weight: 900;
}

.banner-title-two {
  font-size: 90px;
  font-weight: 900;
  background: -webkit-linear-gradient(180deg, #f948b2, #8758f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-button {
  width: 400;
  font-weight: 500;
}

.button-1 {
  border: none;
  border-radius: 38px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  font-size: 15px;
  padding: 12px 15px;
}

.button-2 {
  border: none;
  border-radius: 38px;
  background: #4ec5f7;
  font-size: 15px;
  padding: 12px 15px;
}

.games {
  margin-top: 100px;
}

.games-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.games-primary {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games-description {
  color: #534c64;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}

.games-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  gap: 10px;
}

.player {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.player-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-align: right;
  margin: auto;
  font-weight: 800;
  padding-bottom: 400px;
}

.player-primary {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-description {
  color: #534c64;
  text-align: right;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.player-image {
  height: 100%;
}

.the-talking-angela {
  border-radius: 5px solid #ffffff;
  border: 10px solid #fff;
  background: url(<path-to-image>),
    lightgray 0px -0.304px / 100% 117.229% no-repeat;
  width: 30px;
  position: relative;
  bottom: 300px;
}

.career {
  margin-top: 50px;
  display: flex;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  justify-content: space-between;
}

.career-title {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 20px;
  background-position: top;
  padding-top: 50px;
}

.career-primary {
  font-size: 25px;
  font-weight: 800;
}

.career-description {
  font-size: 13px;
  font-weight: 600;
}

.career-list {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.career-list-two {
  padding-right: 15px;
}

.career-button {
  border: none;
  padding: 15px 30px;
  border-radius: 28px;
  background: #fff;
}

.career-image {
  width: 60%;
}

.footer-container {
  background: #0b0223;
}

.footer-title {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  padding-top: 50px;
}

.footer-title img {
  margin-top: 30px;
}

.footer-title p {
  font-size: 30px;

  margin-left: 10px;
  font-weight: 900;
}

.footer-primary {
  color: #ff42a5;
}

.footer-choice {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.footer-choice p {
  padding: 0 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}

.footer-policy {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
  padding-top: 30px;
}

.footer-policy p {
  padding: 0 40px;
}

.footer-secured {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 80px;
}
